/* @import url('https//:fonts.googleapis.com/css2?family=poppins:wght@400;700&family='); */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
}
.container {
    margin: auto;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 50px;
    display: flex;
    width: 600px;
}

.box2 img{
    width: 300px;
    height: 400px;
}
.box1{
    color: rgb(35, 39, 39);
    margin: 20px; 
}

.box p {
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bolder;
    margin-top: 20px;
    text-indent: 20px;
}

.box h1 {
    line-height: 30px;
    margin: 17px;
}

.abc p {
    margin-inline: 17px;
}

.price h1 {
    color: green;
    padding: 20px;
}

.qwe {
    color: darkslategrey;
    font-size: 15px;
    text-decoration: line-through;
}

.button {
    background-color: green;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    width: 80%;
    margin-left: 30px;
}

.AddtoCart {
    text-decoration: none;
    color: antiquewhite;
} 
@media screen and (max-width:580px) {
    .container{
        width: 300px;
        flex-direction: column;
        border-radius: 10px;
    }
    .box2 img{
        width: 300px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}