h1 {
  color: rgb(109, 63, 8);
  background-color: rgb(27, 135, 189);
  text-align: center;
  text-transform: capitalize;
}

p {
  text-align: center;
  text-transform: capitalize;
  text-indent: 40px;
  letter-spacing: 0rem;
  line-height: 2rem;
  word-spacing: 0.3rem;
  color: rgb(106, 156, 6);
  text-shadow: 2px 2px 2px rgb(237, 237, 14);
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  font-weight: 600;
  font-style: oblique;
}

a {
  text-decoration: line-through;
  text-decoration-color: aqua;
  text-decoration-style: wavy;
  text-transform: capitalize;
  /* text-decoration-line: underline; */
}
