.container {
  /* width: 400px;
  height: 500px; */
  border: 2px solid red;
  /* overflow: hidden; */
  /* overflow: scroll; */
  /* overflow: visible; */
  /* overflow: auto; */
}

.block {
  overflow: auto;
}

.p1 {
  border: 2px solid green;
  margin-right: 40px;
  clear: right;
}

.p2 {
  clear: both;
}

.img1 {
  float: right;
  margin-left: 40px;
}

.img2 {
  float: left;
}
