*{
    box-sizing: border-box;
}
.bigbox{
    width: 400px;
    height: 300px;
    background-color: gainsboro;
}
.box{
    width: 100px;
    height: 100px;
    border: 2px solid red;
    overflow:auto;
    
}
.b1{
    background-color: red;
    float: left;
}
.b2{
    background-color: blue;
    float: left;
    clear: left;
}
.b3{
    background-color: greenyellow;
    float: left;
}
.b4{
    background-color: yellow;
}