#first{
    color: greenyellow;
}
body{
    font-size: 15px;
}
 #first>p    /*child selector */
{
color: blue;
}
p:hover{
    font-family: sans-serif;
    font-size: 10px;
}
#first,#second{
    color: red;
}
.purple{
    color:darkblue;
    font-family: monospace;
}
.highlight{
    background: yellow;
    font-weight:bolder;
    font-size: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style:oblique;
}