*{
    border: 1px solid red;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:cursive;
}
p{
    color:rgba(82, 130, 6, 0.938);
    /* display:inline; */
    width: 34px;
    display: inline-block;
}
img{
    width: 500px;
}
a{
    display: block;
  }
ul{
    /* list-style:square; */
    box-sizing: border-box;
    padding: 20px;
    text-align: end;
    background-color: rgb(194, 210, 228);
    color: rgb(97, 59, 9);
}
li{
    display: inline;
    padding: 4px;
}
li:hover{
    color: rgb(214, 26, 57);
}