body{
    background-color: hsl(212,45%,89%);
}
.container{
    width: 400px;
    height: 600px; 
    background-color: hsl(0,0%,100%);
    border-radius: 30px;
    margin: 100px;
    margin-left: 600px;
}
.box img{
   
    border-radius: 10px;
    width:300px;
    height: 300px;
    margin: 40px;
 }
 .box h2{
    text-align:start;
      position:relative; 
     text-transform: capitalize;
     display: inline;
     left: 20px;
    right: 20px;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 .box p{
left: 20px;
right: 20px;
margin: 30px;
padding-top: 20px;
text-transform: capitalize;
font-size: large;
text-align: center;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: hsl(220 , 15% , 55%);
}  
