*{
    margin: 20px;
}
body{
    background-color:teal ;
}
h1{
    color: rgb(221, 200, 10);
    background-color:dodgerblue ;
}
h2{
    color: #3e50ee;
    background-color: aqua;
    
}
p{
    color: rgb(100,100,90);
    background-color: #3f2f2f;
    opacity:0.5;
}