*{
    margin-left: 20px;
    padding: 0;
}
h1{
    color: #0d9fcf;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    text-transform: capitalize;
}
h4{
    color: #200dcf;
}
.highlight{
    color:rgb(22, 42, 218);
    font-weight: bolder;
}
h2{
    color: #0d9fcf;
    text-transform: capitalize;
    font-style: italic;
}
p{
    text-transform: capitalize;
    /* line-height: 1.5em;
    letter-spacing: 0.2em;
    word-spacing: 1em;
    text-indent: 10em; */
}
.by{
    text-align: right;
}
.highlight:hover{
    text-decoration: blink;
}
p::first-letter{
    font-size: larger;
    font-weight: 1000;
}